@import "mixins";

.uiSlideSwitch {
    .switch {           
        position: relative;
        display: inline-block;
        box-sizing: content-box;
        overflow: visible;
        width: 80px;
        height: 30px;
        padding: 0px;
        margin: 0px;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
        transition: 0.3s ease-out all;
        -webkit-transition: 0.3s ease-out all;
        top: -1px;
        &.checked {
            small {
                left: 50px;
            }
            .switch-text {
                .off {
                  display: none;
                }
                .on {
                  display: block;
                }
            }
        }
        @include FixedGroups();
        small {
          background: #ffffff;
          border-radius: 100%;
          box-shadow: 0 1px 3px rgba(0,0,0,0.4);
          width: 30px;
          height: 30px;
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 1;
          transition: 0.3s ease-out all;
          -webkit-transition: 0.3s ease-out all;
        }
        .switch-text {
          font-family: $font-family;
          font-size: 15px;
            .off {
                display: block;
                position: absolute;
                right: 10px;
                top: 6px;
                z-index: 0;
                color: #ffffff;
            }
            .on {
                display:none;
                z-index: 0;
                color: #ffffff;
                position: absolute;
                top: 6px;
                left: 10px;
            }
        }
    }
}